
.container1{
    background-size: cover;
    background-position: center;
    font-family:' Times New Roman', Times, serif;
    color: #333333;
    text-shadow: black;
}
.tip {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 15px;
    margin-bottom: 20px;
    border-left: 5px solid #333;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.tip h3 {
    color: #993300;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 10px;
}
.tip p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.intro {
    margin-left: 80px;
    margin-top: 30px;
    font-size: large;
}


